h2 {
  font-family: monospace;
  font-size: 4em;
}

.root {
  display: 'flex';
  flex-wrap: 'wrap';
  justify-content: 'space-around';
  overflow: 'hidden';
  background-color: grey;
  margin: 6%;
}

.gridList {
  width: 500;
  height: 450;
}

.icon {
  color: 'rgba(255, 255, 255, 0.54)';
}